<div class="password-again-header">
    <%= render "users/header" %>
</div>

<div class="password-again">
  <div class="password-again-box">
    <h2>Forgot your password?</h2><br>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div><br>

      <div class="actions">
        <%= f.submit "Send an Email" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>

<footer>
  <small>Copyright © 2022 Yui Takahashi All rights Reserved.</small>
</footer>

